.authent { 
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    background-color: #d7dedf;
    transition: 0.25s;
    z-index: 10;
    transform: translateY(100%);
}

a {
    -webkit-tap-highlight-color: none;
}

.authent.open {
    transform: translateY(0%);
}

.authent .password {
    position: absolute;
    top: 47%;
    left: 32%;
    background: none;
    -webkit-appearance: caret;
    text-align: left;
    font-size: 32px;
    letter-spacing: .38em;
}