/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html, body {
    height: 100%;
    min-height:100%;
    overflow: hidden;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;

    background: url("../img/background.png");
    background-size: cover;
}

.content {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

ul, li {
    margin:0;
    padding:0;
    list-style: none;
}

.bg-white {
    background:white;
}

.page {
    height: 100%;
}

.configuration-panel {
    display: none;
}

.to-bottom {
    position: absolute;
    bottom:0;
}

.keyboard-confirm-btn,
.keyboard-cancel-btn,
.btn-accepter,
.btn-refuser,
.btn-refresh {
    padding-top: 15px;
    padding-bottom: 15px;
}

.btn-home {
    box-sizing: border-box;
    padding: 15px;
    width: 100%;
}

.header {
    /*transition:0.15s;*/
    background-size: contain;
    background-position: 50% 50%;
    background-image: url("../img/header-1.png");
    height: 67px;
    width: 100%;
}

.header.page-1 {
    background-image: url("../img/header-2.png");
}

.center {
    text-align: center;
}

.keyboard {
    display: none;
    background: url("../img/background.png");
}

.list-notif {
    min-height: calc(100% - 150px);
}

.list-notif .notification-entity {
    position: relative;
}

.list-notif .notification-entity .line-1,
.list-notif .notification-entity .line-2,
.list-notif .notification-entity .line-3,
.list-notif .notification-entity .line-4,
.list-notif .notification-entity .line-5 {
    position: absolute;
    left: 14px;
    top: 0px;
    padding-top: 6%;
    font-size: 16px;
    font-family: sans-serif;
    display: block;
    width: 88%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.list-notif .notification-entity .line-2 {
    padding-top: 12%;
}

.list-notif .notification-entity .line-3 {
    padding-top: 17%;
}

.list-notif .notification-entity .line-4 {
    padding-top: 23%;
}

.list-notif .notification-entity .line-5 {
    padding-top: 29%;
}

.show{
    animation: showFrames ease-out 0.25s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    -webkit-animation: showFrames ease-out 0.25s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: showFrames ease-out 0.25s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -o-animation: showFrames ease-out 0.25s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -ms-animation: showFrames ease-out 0.25s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
}

@keyframes showFrames{
    0% {
        opacity:0;
        transform:  translate(100px,0px)  ;
    }
    100% {
        opacity:1;
        transform:  translate(0px,0px)  ;
    }
}

@-moz-keyframes showFrames{
    0% {
        opacity:0;
        -moz-transform:  translate(100px,0px)  ;
    }
    100% {
        opacity:1;
        -moz-transform:  translate(0px,0px)  ;
    }
}

@-webkit-keyframes showFrames {
    0% {
        opacity:0;
        -webkit-transform:  translate(100px,0px)  ;
    }
    100% {
        opacity:1;
        -webkit-transform:  translate(0px,0px)  ;
    }
}

@-o-keyframes showFrames {
    0% {
        opacity:0;
        -o-transform:  translate(100px,0px)  ;
    }
    100% {
        opacity:1;
        -o-transform:  translate(0px,0px)  ;
    }
}

@-ms-keyframes showFrames {
    0% {
        opacity:0;
        -ms-transform:  translate(100px,0px)  ;
    }
    100% {
        opacity:1;
        -ms-transform:  translate(0px,0px)  ;
    }
}

.show-from-bottom{
    animation: showFromBottom ease-out 0.25s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    -webkit-animation: showFromBottom ease-out 0.25s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
}

@keyframes showFromBottom{
    0% {
        transform:  translate(0px,100%)  ;
    }
    100% {
        transform:  translate(0px,0px)  ;
    }
}

@-moz-keyframes showFromBottom{
    0% {
        -moz-transform:  translate(0px,100%)  ;
    }
    100% {
        -moz-transform:  translate(0px,0px)  ;
    }
}

@-webkit-keyframes showFromBottom {
    0% {
        -webkit-transform:  translate(0px,100%)  ;
    }
    100% {
        -webkit-transform:  translate(0px,0px)  ;
    }
}

@-o-keyframes showFromBottom {
    0% {
        -o-transform:  translate(0px,100%)  ;
    }
    100% {
        -o-transform:  translate(0px,0px)  ;
    }
}

@-ms-keyframes showFromBottom {
    0% {
        -ms-transform:  translate(0px,100%)  ;
    }
    100% {
        -ms-transform:  translate(0px,0px)  ;
    }
}

.key-pushed {
    width: 200px;
    height: 34px;
    background-size: contain;
    background-image: url(../img/key-pushed.png);
    background-position: 50%;
    border: 0;
    text-indent: 52px;
    font-size: 29px;
    letter-spacing: 0.45em;
    padding-bottom: 17px;
    box-sizing: border-box;
}

.keyboard-input-container {
    padding-bottom: 15px;
}

.hide{
    transition: 0.25s;
    opacity: 0;
}

.show-from-bottom,
.show {
    display: block;
}

.hide {
    display: none;
}

.light {
    color: #898c8c;
}

.notification-detail-title {
    background: url(../img/alert-detail-title.png) bottom;
    padding: 22px 19px;
    background-size: cover;
    font-size: 17px;
    font-weight: bold;
    color:#333333;
}

.notification-detail-container {
    padding:22px;
    font-size: 16px;
    background: #f2f6f7;
    border-bottom: 1px solid #d5dbdb;
}

